code-buttons, .button-panel {
    /* width: 15%;
    height: 499px; */
    float: left;
    padding: 3px;
    /* background-color: #193549; */
}
    
    
.button-list {
    margin-top: 48px;
    font-size: 1.2em;
    list-style: none;
}

.button-list>li {
    margin: 4px 8px 0px 0px;
}

.button-list>li>a {
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #555;
    padding: 4px 0px;
    width: 110px;
}

.button-list>li>a:active {
    color: #ffc600;
    background-color: #555;
    border-radius: 10px;
    border: 1px solid #555;
    padding: 4px 2px;
    width: 110px;
}

.button-link {
    line-height: 1.4em;
    padding: 4px 6px;
    min-width: 110px
}