<div class="button-panel">
    <ul class="button-list">
        <li *ngFor="let button of buttons">
                <a href="#" class="button-link"
                    [class.orange]="button.color === 'orange'"
                    [class.green]="button.color === 'green'"
                    [class.red]="button.color === 'red'"
                    [class.blue]="button.color === 'blue'"
                    [class.yellow]="button.color === 'yellow'"
                    (click)="onButtonClick(button)">{{button.eventType}}</a>
        </li>
    </ul>
</div>
