<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
            <div *ngIf="!hasButtonSets" style="padding: 15px">
                You currently have no ButtonSet's.  Click Add to create one.
            </div>
            <nav *ngIf="hasButtonSets" class="sidenav-buttons">
                <h3>Button Sets</h3>
                <ul>
                    <li *ngFor="let buttonSet of buttonSets">
                        <a (click)="selectButtonSet(buttonSet)"> {{ buttonSet.name }} </a>
                    </li>
                </ul>                
            </nav>
    
            <button mat-fab id="add-buttons" matTooltip="New Button Set" matTooltipPosition="right" (click)="newButtonSet()">
                <mat-icon>add</mat-icon>
            </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class='container' style='background-color: #fff; min-height: 450px'>

            <mat-card *ngIf="selectedButtonSet" fxLayoutAlign="space-between center" class="match-card">
                <mat-card-header>
                    <i mat-card-avatar class="material-icons">code</i>
                    <mat-card-title>{{selectedButtonSet.name}}</mat-card-title>
                    <mat-card-subtitle>{{selectedButtonSet.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-table [dataSource]="dataSource">
                        
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.type.name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="color">
                            <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <div class="row-item row-item-event event-pill"
                                    [class.orange]="element.color === 'orange'"
                                    [class.green]="element.color === 'green'"
                                    [class.red]="element.color === 'red'"
                                    [class.blue]="element.color === 'blue'"
                                    [class.yellow]="element.color === 'yellow'">
                                    {{element.color}}
                            </div>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="lead">
                            <mat-header-cell *matHeaderCellDef> Lead </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.leadSeconds}} </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="lag">
                            <mat-header-cell *matHeaderCellDef> Lag </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.lagSeconds}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="commands">
                            <mat-header-cell *matHeaderCellDef> &nbsp; </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-button matTooltip="Delete" (click)="deleteButton(element)" matTooltipPosition="below" style="min-width: 10px">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button mat-button matTooltip="Edit" matTooltipPosition="below" style="min-width: 10px">
                                    <mat-icon>mode_edit</mat-icon>
                                </button>

                            </mat-cell>
                        </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>                        
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="addDefaultButtons(selectedButtonSet)" matTooltip="Reset" matTooltipPosition="below">
                        <mat-icon>playlist_add</mat-icon>
                    </button>
                    <button mat-button matTooltip="Add button" matTooltipPosition="below">
                        <mat-icon>add_box</mat-icon>
                    </button>
                    <button mat-button (click)="editButtonSet(selectedButtonSet)" matTooltip="Edit Button Set" matTooltipPosition="below">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-button matTooltip="Delete Button Set" matTooltipPosition="below" (click)="deleteButtonSet(selectedButtonSet)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>