<div class="container">
    <div class="row">
        <azure-media-player [source]="currentMatch.media"></azure-media-player>    
        <code-buttons [buttons]="currentMatch.buttonConfiguration"></code-buttons>
    </div>
</div>
<timeline2 [list]="currentMatch.events"></timeline2>

<hr />

<pre>
    {{currentMatch | json}}
</pre>

<!-- <div class="row" *ngIf="false">
    <media-player-controls 
        (onplay)="onPlay($event)"
        (onpause)="onPause($event)"
        (onreset)="onReset($event)"></media-player-controls>
</div> -->
