<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        
            <div class="form-group">
                <label for="selectedMatch" style="color: #000">Select Match</label>
                <select class="form-control input-lg" 
                        name="selectedMatch"
                        id="selectedMatch"
                        [(ngModel)]="currentMatch"
                        (ngModelChange)="onGameChanged($event)" required>
                    <option *ngFor="let match of allMatches" 
                        [attr.selected]="currentMatch"
                        [ngValue]="match">{{match.properties.matchName}}</option>
                </select>

                <hr />
                <div style="color: black">
                    <strong>{{currentMatch.properties.year}} {{currentMatch.properties.matchName}}</strong>
                    <small>{{currentMatch.properties.homeTeam}} vs {{currentMatch.properties.awayTeam}}</small>
                </div>
            </div>

    </mat-sidenav>
    <mat-sidenav-content>
            <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
            <div class="container">
                <div class="row">
                    <azure-media-player [source]="currentMatch.media"></azure-media-player>    
                    <code-buttons [buttons]="currentMatch.buttonConfiguration"></code-buttons>
                </div>
            </div>
            <timeline2 [eventItems]="currentMatch.events"></timeline2>

    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <hr />

<pre>
    {{currentMatch | json}}
</pre> -->

<!-- <div class="row" *ngIf="false">
    <media-player-controls 
        (onplay)="onPlay($event)"
        (onpause)="onPause($event)"
        (onreset)="onReset($event)"></media-player-controls>
</div> -->
