<mat-toolbar color="primary">
    <span>Game-Share - <em>coded video sharing for the internet!</em></span>
    <span class="toolbar-spacer"></span>
    
    <div *ngIf="!(authService.user$ | async)?.uid">
        <button mat-button (click)="authService.login()"> <mat-icon>perm_identity</mat-icon> Login </button>
    </div>
    <div *ngIf="(authService.user$ | async)?.uid">
        <button mat-button [routerLink]="['/list']" matTooltip="Matches" matTooltipPosition="below"> <mat-icon>view_list</mat-icon> </button>
        <button mat-button (click)="authService.logout()"> <mat-icon>power_settings_new</mat-icon> {{(authService.user$ | async)?.displayName}} </button>
    </div>

</mat-toolbar>
<router-outlet></router-outlet>