<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
            <mat-nav-list>
                    <a mat-list-item href="#" *ngFor="let buttonConfiguration of buttonConfigurations"> {{ buttonConfiguration.name }} </a>
                </mat-nav-list>
    
                <button mat-fab id="add-buttons" matTooltip="New Button Configuration" matTooltipPosition="right" (click)="newButtonConfiguration()">
                    <mat-icon>add</mat-icon>
                </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class='container' style='background-color: #fff; min-height: 450px'>

            <mat-card *ngFor="let match of matches" fxLayoutAlign="space-between center" class="match-card">
                <mat-card-header>
                    <span>{{match.properties.matchName}}</span>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>
                            <strong>Venue:</strong> {{match.properties.venue}}</li>
                        <li>
                            <strong>Date:</strong> {{match.properties.matchDate | date:'dd-MMM-yyyy'}}</li>
                        <li>
                            <strong>Video Type:</strong> {{match.media.type}}</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button matTooltip="Delete" matTooltipPosition="below" (click)="deleteMatch(match)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-button (click)="editMatch(match)" matTooltip="Edit" matTooltipPosition="below">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-button [routerLink]="['/editor', match.$key]" matTooltip="View" matTooltipPosition="below">
                        <mat-icon>ondemand_video</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>