<div class="container timeline">
    <ng-container *ngFor="let item of list">
        <div class="row timeline-row">
            <div class="timeline-row-title">
                <strong>{{item.eventType}}</strong>
            </div>
            <div class="timeline-items">
                <ng-container *ngFor="let subItem of item.items">
                    <span class="timeline-item green" [style.left]="calculateStyleOffsetFromSeconds(subItem.seconds)">&nbsp;</span>
                </ng-container>
            </div>
        </div>
    </ng-container>
        
    <div class="row timeline-row">
        <div class="timeline-row-title">
            Minutes
        </div>
        <div class="timeline-items">
            <ng-container *ngFor="let item of segments; let i = index;">
                <span class="timeline-item" [style.left]="calculateStyleOffsetFromIndex(i)">{{calculateTimeInterval(i)}}</span>
            </ng-container>
            
        </div>
    </div>
</div>