<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        
        <div style="color: black; padding-left: 3px" *ngIf="currentMatch">
            <strong>Information</strong>
            <p>{{currentMatch.properties.year}} {{currentMatch.properties.matchName}}</p>
            <p>{{currentMatch.properties.homeTeam}} vs {{currentMatch.properties.awayTeam}}</p>

            <button mat-fab id="edit-button"
                matTooltip="Edit Match" matTooltipPosition="below" 
                (click)="editGame(currentMatch)"> <mat-icon>mode_edit</mat-icon> </button>

            <coding-button-panel [buttonSetId]="currentMatch.buttonSetId"></coding-button-panel>
        </div>

        <button mat-fab id="add-button"
            matTooltip="Add Game" matTooltipPosition="above" 
            (click)="newGame()"> <mat-icon>add</mat-icon> </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <button mat-button (click)="sidenav.toggle()">
                 <mat-icon>slideshow</mat-icon> 
            </button>
        </div>
        <div *ngIf="currentMatch">
            <div class="container-fluid">
                <div class="row">
                    <!-- <azure-media-player [source]="currentMatch.media"></azure-media-player>  -->
                    <video-player [source]="currentMatch.media">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </video-player>   
                </div>
            </div>
            <timeline [eventItems]="currentMatch.events"></timeline>
        </div>
            

    </mat-sidenav-content>
</mat-sidenav-container>
