<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <media-presenter></media-presenter>
                    </div>
                </div>
                <div class="row">
                    <timer-controls></timer-controls>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <code-buttons></code-buttons>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <timeline></timeline>
        </div>
    </div>
</div>
