body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #555;
    margin-top: 50px;
}

a { text-decoration: none; }

.orange { color: #FF7200; }
.green { background: #BADA55; color: #193549; }
.red { background: #C95D63; color: #fff; }
.blue { background: #496DDB; color: #fff; }
.yellow { background: #ffc600; color: #193549; }


azure-media-player, .media-presenter {
    width: 85%;
    height: 500px;
    float: left;
    border-bottom: 1px solid #555;
    padding: 3px;
    background-color: #193549;
}

code-buttons, .button-panel {
    width: 15%;
    height: 500px;
    float: left;
    border-bottom: 1px solid #555;
    padding: 3px;
    background-color: #193549;
}
    
    
.button-list {
    margin-top: 48px;
    font-size: 1.2em;
    list-style: none;
}

.button-list>li {
    margin: 4px 8px 0px 0px;
}

.button-list>li>a {
    display: block;
    text-align: center;
    color: #FF7200;
    border-radius: 10px;
    border: 1px solid #555;
    padding: 4px 0px;
    width: 110px;
}

.button-list>li>a:active {
    color: #ffc600;
    background-color: #555;
    border-radius: 10px;
    border: 1px solid #555;
    padding: 4px 2px;
    width: 110px;
}



.timeline-row {
    background-color: #193549;
    border-bottom: 1px solid #555;
    color: #fff;
}

.timeline-row-title {
    width: 10%;
    float: left;
    border-bottom: 1px solid #555;
    padding: 3px;
}

.timeline-items {
    width: 90%;
    float: left;
    border-bottom: 1px solid #555;
    padding: 3px;
}

.timeline-item {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    color: #fff;
    font-size: 0.9em;
    display: inline-block;
}
