@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    font-size: 11px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #555;
}

a { text-decoration: none; }

.orange { color: #FF7200; }
.green { background: #BADA55; color: #193549; }
.red { background: #C95D63; color: #fff; }
.blue { background: #496DDB; color: #fff; }
.yellow { background: #ffc600; color: #193549; }

.well {
    border-radius: 0px;
    border: none;
    box-shadow: none;
}


.toolbar-spacer {
    flex: 1 1 auto;
}



mat-sidenav {
    width: 17.5%;
}


azure-media-player, .media-presenter {
    width: 85%;
    height: 499px;
    padding: 3px;
    background-color: #193549;
}

code-buttons, .button-panel {
    width: 15%;
    height: 499px;
    float: left;
    padding: 3px;
    background-color: #193549;
}
    
    
.button-list {
    margin-top: 48px;
    font-size: 1.2em;
    list-style: none;
}

.button-list>li {
    margin: 4px 8px 0px 0px;
}

.button-list>li>a {
    display: block;
    text-align: center;
    /* color: #FF7200; */
    border-radius: 10px;
    border: 1px solid #555;
    padding: 4px 0px;
    width: 110px;
}

.button-list>li>a:active {
    color: #ffc600;
    background-color: #555;
    border-radius: 10px;
    border: 1px solid #555;
    padding: 4px 2px;
    width: 110px;
}



.timeline-row {
    background-color: #193549;
    border-bottom: 1px solid #555;
    color: #fff;
}

.timeline-row-title {
    width: 10%;
    float: left;
    border-bottom: 1px solid #555;
    padding: 3px;
}

.timeline-items {
    width: 90%;
    float: left;
    border-bottom: 1px solid #555;
    padding: 3px;
}

.timeline-item {
    position: relative;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    color: #fff;
    font-size: 0.9em;
}

.timeline-item-event {
    display: inherit;
}

.timeline-item-marker {
    display: inline-block;
}


/* Second version of timeline */

.timeline2 {
    min-height: 30px; 
}

.accordian {
    list-style: none;
    margin-left: 0;
    background-color: #193549;
}

*, :after, :before {
    box-sizing: inherit;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.table-of-contents__header {
    white-space: nowrap;
}
.timeline-row2 {
    background-color: #193549;
    position: relative;
    border-bottom: 1px solid #555;
    min-height: 18px;
    color: #efefef;
    font-weight: 300;
    clear: both;
}

.timeline-row2 ul {
    list-style: none;
    float: left;
}

.timeline-row2 ul li {
    position: relative;
    top: 0px;
    margin-top: 3px;
    list-style: none;
    left: 0;
}

.row-title {
    position: relative;
    width: 90px;
    /* width: 10%; 
    border-bottom: 1px solid #555;*/
    padding: 3px;
    /* display: inline; */
    float: left;
    clear: both;
}

.row-items {
    position: relative;
    margin-left: 10%;
    color: #fff;
    
    /* width: 90%; 
    border-bottom: 1px solid #555;*/
    padding: 3px;
    /* display: inline;
    clear: both; */
}


.row-item {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    font-size: 0.9em;
}

.row-item-event {
    display: inherit;
    cursor: pointer;
}

.row-item-event {
    position: absolute;
    top: 0px;
    margin-top: 3px;
}

.gutter-row {
    background-color: #758587;
    color: #000;
}