<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false"> 
    
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container" style="background-color: #fff; min-height: 480px" *ngIf="!loggedIn">
                <div _ngcontent-c18="" class="docs-homepage-promo-desc">
                    <h2 _ngcontent-c18="">Welcome</h2>
                    <p _ngcontent-c18="">Please login to get started.  Once you have logged in you will be able to create and code matches such as this one: </p>
                    <p style="padding: 25px">
                        <a [routerLink]="['/public', '-L01rPXFd0x4S_hB1rjH']">2017 PLM Preliminary Final</a>
                    </p>
                </div>
        </div>
        <div class="container" style="background-color: #fff; min-height: 480px" *ngIf="loggedIn && !hasMatches">
                <h2 _ngcontent-c18="">Hello {{(authService.user$ | async)?.displayName}}</h2>
                <p _ngcontent-c18="">You don't appear to have any matches as yet.  Click the + button at the bottom of the page to get started!</p>
        </div>
        <mat-card *ngFor="let match of matches" fxLayoutAlign="space-between center" class="match-card">
            <mat-card-header>
                <span>{{match.properties.matchName}}</span>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li><strong>Venue:</strong> {{match.properties.venue}}</li>
                    <li><strong>Date:</strong> {{match.properties.date | date:'dd-MMM-yyyy'}}</li>
                    <li><strong>Video Type:</strong> {{match.media.type}}</li>
                </ul>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button [routerLink]="['/editor', match.$key]"
                        matTooltip="View" matTooltipPosition="below">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-button matTooltip="Delete" matTooltipPosition="below" (click)="deleteMatch(match)">
                     <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

        <div *ngIf="(authService.user$ | async)?.uid">
            <button mat-fab  id="add-button"
                    matTooltip="New Game" matTooltipPosition="right" 
                    (click)="newGame()"> <mat-icon>add</mat-icon> </button>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
        
       
